html {
		height: 100%;
}
body {
		/* background-color: darkslategray; */
		background-color: #00294f;
		height: 100%;
		width: 98%;
		margin: auto;
		padding: 1em;
		font-family: "Times New Roman", Times, serif;

		box-sizing: border-box;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		hyphens: auto;
		-ms-hyphens: auto;
		-webkit-hyphens: auto;
		text-rendering: optimizeLegibility;
}
div, canvas {
		/* border: 1px dashed gray; */
		box-sizing: border-box;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
}
h1 {
		width: 100%;
		text-align: center;
		vertical-align: top;
}
code {
		background-color: rgba(0, 0, 0, 0.2);
		padding: 0.05em 0.2em;
		margin: 0;
}
code.block {
		display: block;
		width: 100% !important;
		margin: 0.5em 0 0.5em 0 !important;
		padding: 0.5em !important;
}
canvas {
		/* border: 2px solid forestgreen; */
		border: 4px solid #00519E;
		width: 100%;
		height: 100%;
		padding: 1em;
		background-color: white;
}
.hfill {
		height: 100% !important;
		width: 100% !important;
		display: block;
}
.hsixtenth {
		height: 60% !important;
}
.whitescrollbox {
		border: 4px solid #00519E;
		background-color: white;
		overflow-y: scroll;
		overflow-x: auto;
		padding: 1em;
}
.scroll {
		overflow-y: scroll;
		overflow-x: auto;
}
.autoscroll {
		overflow-y: auto;
		overflow-x: auto;
}

.flex-container {
		height: 100%;
		width: 100%;
		margin: 0;
		padding: 0;
		display: flex;
		flex-direction: column;
}
.flex-shrinkgrow {
		flex-grow: 1;
		flex-shrink: 1;
		flex-basis: 40%;
}
.topmargin {
		margin-top: 1em;
}

table {
		border-collapse: collapse;
}
th, td {
		padding: 0.3em;
		border: 1px solid black;
		margin: 0;
}
input {
		background-color: transparent;
		border: 0;
}
input[type="number"] {
		transform: scale(0.8);
}
input[type="number"].int {
		width: 3em;
}
input[type="number"].float {
		width: 3.5em;
}
input::-webkit-inner-spin-button, input::-webkit-outer-spin-button {
}
#back {
		position: absolute;
		top: 1em;
		left: 1em;
		z-index: 100;
		font-size: 150%;
		color: white;
		text-decoration: none;
}
#back img {
		filter: invert(100%);
		height: 1.5em;
}

#container {
		width: 100%;
		padding: 0px;
		/* border: 1px solid green; */
		height: 100%;
		padding: 0;
		margin: 0;
		display: block;
		position: relative;
}
#titlediv {
		position: absolute;
		height: 5em;
		width: 100%;
		vertical-align: top;
		margin: 0;
		padding: 0;
		/* background-color: forestgreen; */
		background-color: #00519E;
		border-radius: 1em;
		color: white;
}
#content {
		position: absolute;
		padding-top: 6em;
		top: 0;
		bottom: 0;
		width: 100%;
}

#settings-pane {
		width: 40%;
		float: left;
		border-radius: 1em;
		padding: 0em !important;
		margin: 0em !important;
		background-color: white;
}
#preview-pane {
		width: 60%;
		float: right;
		padding-left: 1em;
}
.pane {
		/* border: 1px solid red; */
		display: block;
		height: 100%;
		min-height: 100%;/
}

#settings-pane>h2 {
		display: block;
		/* border: 1px solid red; */
		/* background-color: forestgreen; */
		background-color: #00519E;
		color: white;
		border-radius: 0.5em 0.5em 0em 0em;
		width: 100%;
		text-align: center;
		margin: 0;
		padding-top: 0.5em;
		padding-bottom: 0.5em;
}
#settings {
		display: block;
		padding: 1em;
}

.greyedout {
		color: dimgray;
}
.danger {
		color: white;
		font-weight: 900;
		padding: 0.3em;
		border-radius: 0.4em;
		margin: 0.1em;
		background-color: red;
}
.semidanger {
		color: white;
		font-weight: 900;
		padding: 0.3em;
		border-radius: 0.4em;
		margin: 0.1em;
		background-color: orange;
}
.greenbox {
		color: white;
		font-weight: 900;
		padding: 0.3em;
		border-radius: 0.4em;
		margin: 0.1em;
		background-color: green;
}
.whitebox {
		background-color: white;
		border-radius: 1em;
		width: 100%;
		height: 100%;
		padding: 1em;
}
input[type="button"]:disabled, input[type="button"][disabled] {
		background-color: gray !important;
}

textarea {
		width: 100%;
		border: 1px solid black;
		resize: vertical;
}
