/* General stuff goes here*/
* {
		box-sizing: border-box;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		hyphens: auto;
		-ms-hyphens: auto;
		-webkit-hyphens: auto;
		/* scrollbar-color: rgba(0, 81, 158, 100%) transparent; */
		scrollbar-color: rgba(0, 41, 79, 100%) transparent;
}
html {
		min-width: 100vw !important;
		max-width: 100vw !important;
		margin: 0;
		padding: 0;

		font-family: "Times New Roman", Times, serif;
}
body {
		background-color: #00294f;
		display: grid;
		grid-template-areas: "head" "main" "footer";
		grid-template-rows: 6rem minmax(0, 1fr) auto;
		min-width: 100vw;
		max-width: 100vw;
		padding: 0;
		margin: 0;

		/* overflow-x: hidden; */
		/* overflox-y: auto; */
}
/* header, */
main, footer {
		margin: 0px;
		padding: 0.3rem 1rem;
}
header {
		grid-area: head;
		background-color: #00519E;
		color: white;
		margin: 0.3rem 1rem;
		padding: 0.5em;
		border-radius: 1em;
}
main {
		grid-area: main;
}

h1 {
		width: 85%;
		height: 100%;
		margin-left: auto;
		margin-right: auto;
		text-align: center;
		/* vertical-align: middle; */
		/* margin-top: auto; */
		/* margin-bottom: auto; */
}
#back {
		z-index: 10;
		position: absolute;
		top: 2rem;
		left: 3rem;
}
#back > img {
		filter: invert(100%);
		height: 2rem;
}

@media (max-width: 70rem) {
		body {
				overflow-y: scroll;
				/* scrollbar-color: white transparent !important; */
		}
		/* header, */
		main, footer {
				padding: 0.3rem 0.2rem;
		}
		header {
				margin: 0.3rem 0.2rem;
		}
		h1 {
				font-size: 1.7rem;
		}
		#back {
				top: 2rem;
				left: 1rem;
		}
}
@media (min-width: 70rem) {
		html {
				min-height: 100vh !important;
				max-height: 100vh !important;
		}
		body {
				min-height: 100vh !important;
				max-height: 100vh !important;

				overflow: hidden;
		}
}

div.pane {
		padding: 0;
		display: grid;
		grid-template-areas: "title" "content" "bottom";
		grid-template-rows: 3em 1fr 1rem;
		grid-gap: 0px !important;
}
div.pane-title {
		grid-area: title;
		background-color: #00519E;
		color: white;
		margin: 0px;
		border-radius: 1rem 1rem 0 0;
}
div.pane-title > * {
		padding: 0.6rem 1rem;
		margin: 0;
}
div.pane-content {
		grid-area: content;
		background-color: white;
		border: solid #00519E;
		border-width: 0 0.5rem;
		padding: 0rem; /*-----*/
		margin: 0px;
		overflow: auto;
		/* overflow-y: hidden; */
		height: 100%;
}
div.pane-content > * {
		padding: 0.2rem 0.5rem;
		max-height: 100% !important;
		max-width: 100% !important;
}
div.pane-bottom {
		grid-area: bottom;
		/* background-color: white; */
		background-color: #00519E;
		border: solid #00519E;
		border-width: 0 0.5rem 0.5rem 0.5rem;
		border-radius: 0 0 1rem 1rem;
}
div.rounded {
		border-radius: 2rem;
}
div.rounded-top {
		border-radius: 2rem 2rem 0 0;
}

.scrollable-y {
		overflow-y: scroll !important;
		/* scrollbar-width: auto; */
}
.scrollable-x {
		overflow-x: scroll !important;
		/* scrollbar-width: auto; */
}
.scroll-always {
		overflow: scroll !important;
		/* scrollbar-width: thin; */
}


code {
		background-color: rgba(0, 0, 0, 0.15);
		padding: 0.05em 0.2em;
		margin: 0;
}
code.block {
		display: block;
		width: 100% !important;
		margin: 0.5em 0 0.5em 0 !important;
		padding: 0.5em !important;
}

table {
		border-collapse: collapse;
}
th, td {
		padding: 0.3em;
		border: 1px solid black;
		margin: 0;
}

input {
		background-color: transparent;
		border: 0;
}
input[type="number"] {
		transform: scale(0.8);
}
input[type="number"].int {
		width: 3em;
}
input[type="number"].float {
		width: 3.5em;
}
input[type="button"]:disabled, input[type="button"][disabled] {
		background-color: gray !important;
}
textarea {
		width: 100%;
		border: 1px solid black;
		resize: vertical;
		min-height: 1.2rem;
		height: 1.2rem;
}

.greyedout {
		color: dimgray;
}
.danger {
		color: white;
		font-weight: 900;
		padding: 0.3em;
		border-radius: 0.4em;
		margin: 0.1em;
		background-color: red;
}
.semidanger {
		color: white;
		font-weight: 900;
		padding: 0.3em;
		border-radius: 0.4em;
		margin: 0.1em;
		background-color: orange;
}
.greenbox {
		color: white;
		font-weight: 900;
		padding: 0.3em;
		border-radius: 0.4em;
		margin: 0.1em;
		background-color: green;
}
.debug {
		border: 1px solid red !important;
}
.indent {
		padding-left: 1em !important;
}
a.luhbluelink {
		padding: 0.2em;
}
a.luhbluelink, a:visited.luhbluelink {
		color: #00519E;
}
a:hover.luhbluelink, a:active.luhbluelink {
		color: white;
		background-color: #00519E;
		text-decoration: none;
}
